---
const currentYear = new Date().getFullYear();
---

<footer class="border-t border-neutral-200 text-neutral-600 mt-12 py-4 text-center text-sm">
  <ul class="container mx-auto px-4 flex justify-center items-center gap-4">
    <li>
      <a href="https://www.royyanba.ch" class="underline hover:text-cyan-700 transition-colors">RB.</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/royyanbach" class="underline hover:text-cyan-700 transition-colors">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/royyanbach" class="underline hover:text-cyan-700 transition-colors">GitHub</a>
    </li>
  </ul>
</footer>